:root {
    --color-primary: #F9E404;
    --color-active: #7e7b23;
    --color-title: #FFFFFF;
    --color-content: #848484;
    --color-background: #575650;
    --color-title_black: #222222;
    --font-archivo: "Archivo", sans-serif;
    --font-asap: "Asap", sans-serif;
}
* {
    box-sizing: inherit;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}
ul, h3, h6, p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.8rem;
  box-sizing: border-box;
  font-family: var(--font-asap);
  color: var(--color-title);
}

body {
  font-size: 1.6rem;
}
svg * {
    width: 100%;
    height: 100%;
}
@font-face {
  font-family: Archivo;
  src: url(../font/Archivo_Narrow/ArchivoNarrow-Regular.ttf);
}
@font-face {
  font-family: Asap;
  src: url(../font/Asap/Asap-Italic-VariableFont_wght.ttf);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.space {
  height: 30px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.title {
  margin-bottom: 40px;
  font-family: var(--font-archivo);
  color: var(--color-title_black);
  font-size: 3.5rem;
  font-weight: 700;
  position: relative;
  margin-top: 15px;
}
.title::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: 22px;
  margin-left: -100px;
}
.title::after {
  content: "";
  width: 80px;
  background-color: var(--color-primary);
  height: 2px;
  position: absolute;
  top: 22px;
  margin-left: 20px;
}
.btny {
  /* z-index: 9999; */
  width: 160px;
  height: 40px;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.btny__primary {
  background-color:var(--color-title_black);
  color: var(--color-primary);
  box-shadow: 0px 0px 7px #524143;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.btny__primary:hover {
  background-color:var(--color-primary);
  color: var(--color-title_black);
  font-weight: 500;
  /* text-shadow: 1px 1px rgb(121, 120, 103); */
}
.btny__primary:active {
  background-color: #464542;
}
.rating {
  color: var(--color-primary);
  text-shadow: 1px 1px rgb(121, 120, 103);
}
.rating__all {
  color: var(--color-primary);
  text-shadow: 1px 1px rgb(121, 120, 103);
  font-size: 1.2rem;
}

.paging {
  display: flex;
  justify-content: center;
  top: 100%;
  left: 50%;
  margin: 30px 0 20px 0;
}
.paging .paging__item {
  margin-left: 5px;
}
.paging__item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
}
.paging__item__active {
  width: 23px;
  height: 8px;
  left: 18px;
  background: var(--color-primary);
  border-radius: 47px;
}

.paging__numbers {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.paging__numbers .righty {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-title_black);
  border: 2px solid var(--color-primary);
  
}
.paging__numbers__left .lefty {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-title_black);
  border: 2px solid var(--color-primary);
}
.lefty:hover {
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.lefty:active {
  color: rgb(73, 73, 55);
  box-shadow: 0 0 1px 4px var(--color-active);
  transition: all 0.1s ease-out;
}
.righty:hover {
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.righty:active {
  color: rgb(73, 73, 55);
  box-shadow: 0 0 1px 4px var(--color-active);
  transition: all 0.1s ease-out;
}
.paging__number {
  margin: 0px 5px;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
  color: var(--color-title_black);
  border: 2px solid var(--color-primary);
  font-weight: 500;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  line-height: 2.2rem;
  vertical-align: middle;
}
.paging__number:hover {
  background-color: var(--color-primary);
  transition: all 0.3s ease-out;
}
.paging__number:active {
  box-shadow: 0 0 1px 4px var(--color-active);
  transition: all 0.1s ease-out;
}
.paging__number__active {
  background-color: var(--color-primary);
  color: var(--color-title_black);
}

.spade__black {
  width: 100%;
  height: 75px;
  background-color: var(--color-background);
}
/* Message add to cart */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: var(--color-background);
  text-align: center;
  border-radius: 10px;

  position: fixed;
  z-index: 12;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: #111;
  color: #fff;
}
#toast #desc{

  
  color: var(--color-primary);
 
  padding: 16px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
/*End message add to cart */
