.header {
    position: fixed;
    z-index: 999;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    transition: all 0.5s;
    font-family: var(--font-asap);
}
.sticky {   
    background-color: var(--color-background);
    opacity: 0.9;
    padding: 40px 0px;
}
.header__logo img {
    width: 240px;
    height: 80px;
    display: block;
    margin-left: 30px;
}
.header__menu {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-title);
}
.header__menu__items {
    display: flex;
}
.header__menu a {
    position: relative;
}

.header__menu__item__active {
    position: absolute;
    content: "";
    color: var(--color-primary);
}
.header__menu__item__active::before {
    position: absolute;
    bottom: -29px;
    left: 0;
    right: 0;
    height: 3px;
    content: "";
    background-color: var(--color-primary);
}
.header__menu__item {
    margin-right: 50px;
    transition: all 0.2s;
}
.header__menu__item.active {
    color: var(--color-primary);

    transition: all 0.2s;
}
.header__menu__item:hover {
    color: var(--color-primary);
    transition: all 0.2s;
}
.header__icons {
    color: var(--color-primary);
    font-size: 2.5rem;
}
.header__search input[type="text"] {
    outline: none;
    border: none;
    width: 340px;
    line-height: 1.3rem;

    border: 2px solid var(--color-primary);
    background-color:transparent;
    padding: 9px 8px 8px 9px;
    border-radius: 5px;
    color: var(--color-title);
}
.header__search input::placeholder {
    color: #f5f5f5;
    font-family: var(--font-archivo);
}
.header__info {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 5px;

}
.header__cart {
    margin-right: 18px;
    cursor: pointer;
    position: relative;
    display: flex;
}
.header__cart__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-family: var(--font-archivo);
    font-size: 12px;
    margin-left: 1px;
    margin-top: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(68, 68, 64);
}
.header__cart__amount p {
    margin-top: 10px;
}
.header__user{
    position: relative;
    cursor: pointer;
}
.header__user__avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 2.5px var(--color-primary);
    /*  chỉnh hình nằm trong khung  */
    overflow: hidden;
}
.header__user__i {
    margin-top: 5px;
}
.header__user:hover .header__user__dropdown {
    display: block;
    z-index: 999;
}
.header__user__dropdown::before {
    content: "";
    position: absolute;
    border-width: 20px 18px;
    border-style: solid;
    border-color: transparent transparent var(--color-title) transparent;
    top: -30px;
    z-index: -333;
    right: 3px;
}
.header__user__dropdown::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -12px;
    width: 90px;
    height: 20px;
    background-color: transparent;
    z-index: -333;
}
.header__user__dropdown {
    display: none;
    position: absolute;
    width: 150px;
    right: -7px;
    top: 100%;
    transform: translateY(10px);

    background-color: #fff;
    font-family: var(--font-archivo);
    font-size: 2rem;
    box-shadow: 0 0 8px rgba(141, 141, 141, 0.616);
    border-radius: 10px;
}
.header__user__dropdown li {
    padding: 20px;
    cursor: pointer;
    font-weight: 400;
}
.header__user__dropdown li:hover {
    background-color: rgb(158, 153, 153);
    color: var(--color-primary);
    border-radius: 10px;
}
.header__user__dropdown li a:hover {
    color: var(--color-primary);
}
.header__user__dropdown li:active {
    background-color: rgb(212, 212, 212);
}
/* banner */
.banner {
    /* z-index: 99; */
    position: relative;
}
.banner__img {
    width: 100%;
    top: 0px;
    height: 700px;
}
.banner__btn{
    color: var(--color-primary);
}

.banner__info {
    position: absolute;
    margin-top: -400px;
}
.banner__info h1 {
    color: var(--color-primary);
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    font-size: 60px;
    line-height: 0.2;
}

/* css connect */

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect__item {
    width: 370px;
    height: 80px;
}
.connect__items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect__logo {
    width: 80px; 
    height: 80px;
}
.connect__logo img{
    width: 36px; 
    height: 36px;
    margin-top: -11px;
    position: relative;
}
.connect__logo a:hover {
    background-color: var(--color-primary);
    transition: all 0.5s;
}
.connect__logo a {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 77px;
    text-align: center;
    font-size: 36px;
    color: var(--color-primary);
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
}
.connect__text {
    width: 270px; 
    height: 60px;
}
.connect__text__p {
    margin-left: 12px;
    font-size: 14px;
    color: #5c5b5b;
}
.connect__text__h3 {
    margin-left: 12px;
    font-family: var(--font-archivo);
    font-size: 2rem;
    font-weight: 600;
}

/* css responsive */
@media only screen and (max-width: 768px) {
    /* .header {
        background-color: var(--color-background);
        position: relative;
    } */
    .sticky {
        position: absolute;
    }
    .header__logo img {
        margin-left: 0px;
    }
    .header__menu,
    .header__search {
      display: none;
    }
    .banner {
        height: 100%;
        width: 100%;
    }
    .banner__img {
        width: 100%;
        height: 100%;
    }
    .banner__info {
        position: absolute;
        margin-top: -150px;
    }
    .banner__info h1 {
        color: var(--color-primary);
        font-family: 'Brush Script MT', cursive;
        font-weight: 500;
        font-size: 4rem;
        line-height: 0.2;
    }

    .connect {
        display: block;
        margin-left: 10%;
    }
    .connect__items {
        margin: 10px 0px 0px 0px;
    }
}