.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1265px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}
.items__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}
.items__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.items__info__name {
    font-size: 3rem;
    line-height: 4.5rem;
    color: var(--color-title_black);
}
.items__info__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-content);
    margin-bottom: 20px;
    text-align: justify;
}
.items__img img {
    width: 320px;
    height: 350px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.items__price {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.items__price__1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.2rem;
    color: var(--color-primary);
    margin: 8px;
    text-shadow: 1px 1px rgb(121, 120, 103);
}
.items__price__2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-content);
    text-decoration: line-through;
    opacity: 0.8;
    margin-top: 7px;
}
.items__title {
    text-align: justify;
}
.items__comment {
    background-color: rgb(219, 220, 204);
    border-radius: 4px;
    padding: 10px;
}
.items__comment__form span {
    font-family: var(--font-archivo);
    color: var(--color-title_black);
    font-size: 2rem;
    padding: 10px;
}
.items__comment__form__text  {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
}
.btn__comment {
    margin-top: 5px;
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-left: 95%;
}
.items__comment__user {
    background-color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
}
.items__comment__user__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* box-shadow: 0 0 0 1px var(--color-primary); */
    /*  chỉnh hình nằm trong khung  */
    overflow: hidden;
    margin-top: 2px;
}
.items__comment__user img{
    width: 40px;
    height: 40px;
}
.items__comment__user__info {
    margin-left: 20px;
}
.title__h4 {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: var(--font-archivo);
    color: var(--color-title_black);
    font-size: 3rem;
    font-weight: 700;
}
/*comment */

/* info product */
.info__product_items{
    /* margin: 70px 110px 40px 83px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info__product_item--button{
    display: flex;
}
.info__button{
    background-color: var(--color-primary);
    margin-right: 5px;
    border-radius: 6px 6px 0 0 ;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--color-background);
}
.info__button:hover{
    /* animation: changeColor ease-in 0.5s ; */
    background-color: var(--color-active);
    cursor: pointer;
}
.info__button:active{
    background-color: var(--color-active);
    cursor: pointer;

}

.info__button p{
    padding: 10px 25px ;
}

.info__product_item--content{
    display: flex;
    justify-content: space-between;
    border-radius: 0 6px 6px 6px;
    border: 1px solid rgba(161, 161, 161, 0.411);
    margin-left: 15px;
    padding: 30px 27px;
}
/* .info__product_item--content__mini {
    
} */
.comment--item > p{
    font-weight: 500;
    margin-bottom: 10px;
}
.comment--item__mini{
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    gap: 0px 20px;
    margin-bottom: 12px;
}
.comment--item-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
}
.comment--items-info_flex{
    display: flex;
}
.comment--items-info_flex > *:not(:last-child){
    margin-right: 15px;
}
.comment--item-name{
    font-weight: 500;
}
.form__comments-comment{
    display: grid;
    grid-template-columns: 0.2fr 7fr;
    gap: 0px 15px;
    border-top: 1px solid rgba(161, 161, 161, 0.411);
    padding-top: 15px;
}
.form__comments-comment > textarea {
    background: rgb(216, 214, 214);
    border-radius: 7px;
    resize: none;
}
.form__comment-image{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10%;
}
.form__comments-ranking{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 0px 15px;
    align-items: center;
    justify-content: space-evenly;
    justify-items: start;
    margin-top: 5px;
}
.star-lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 15px;
    float: right;
}
.star-lists input {
    display: none;
}
.star-lists label {
    font-size: 30px;
    padding: 5px;
    color: #444;
    transition: all 0.2s ease;
}
.star-list__item:hover {
    color: #fd4;
}
input:not(:checked) ~label:hover,
input:not(:checked) ~label:hover ~ label{
    color: #fd4;
}
input#rate-5:checked ~label {
    color: #fe7;
}
input#rate-4:checked ~label {
    color: #fe7;
}
input#rate-3:checked ~label {
    color: #fe7;
}
input#rate-2:checked ~label {
    color: #fe7;
}
input#rate-1:checked ~label {
    color: #fe7;
}

/* .star-lists-items ~ label:hover {
    color: #fd4;
} */
.star-lists-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.star-list__item{
    font-size: 32px;
    overflow: hidden;
    width: 40px;
}
/* <!-- đánh giá sản phẩm --> */
.product_evaluation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.result-rate--left{
    text-align: center;
    display: inline-block;

    border-left: 2px solid rgb(187 181 181 / 41%);
    padding: 30px 63px;

    font-size: 20px;
    margin-right: 20px;
}

.result-rate--sum{
    font-size: 20px;
    color: #999;
}

.result-rate--star{
    font-size: 30px;
    font-weight: bold;
    color: #999;
}