<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SofY Sports</title>

    <link rel="icon" href="img/logo.PNG"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
     crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="reset.css">

    <link rel="stylesheet" href="base.css">

    <link rel="stylesheet" href="header.css">

    <link rel="stylesheet" href="home.css">

</head>
<body>
        <!-- wrapper_header-->
    <div class="wrapper">
        <header class="header">
            <a href="#" class="header__logo"><img src="img/logoimg-removebg-preview.png" alt=""></a>
            <div class="header__menu">
                <ul class="header__menu__items noselect">
                    <li><a href="#" class="header__menu__item header__menu__item__active">Bóng Đá</a></li>
                    <li><a href="#" class="header__menu__item">Cầu Long</a></li>
                    <li><a href="#" class="header__menu__item">Bóng Chuyền</a></li>
                    <li><a href="#" class="header__menu__item">Tennis</a></li>
                    <li><a href="#" class="header__menu__item">Gym</a></li>
                    <li><a href="#" class="header__menu__item">Bơi Lội</a></li>
                </ul>
            </div>
            <div class="header__search noselect">
                <button class="header__search__button"><img src="icon/search.png" alt=""></button>
                <input type="text" placeholder="Tìm kiếm ...">
            </div>
            <div class="header__info noselect">
                <div class="header__cart">
                    <img src="icon/cart.png" alt="">
                    <p class="header__cart__amount">03</p>
                </div>
                <div class="header__user">
                    <div class="header__user__avt">
                        <img src="icon/users.png" alt="Hình đại diện">
                    </div>
                    <div class="header__user__dropdown">
                        <ul>
                        <li><a href="#">Thông tin</a></li>
                        <li><a href="#">Giỏ hàng</a></li>
                        <li><a href="#">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active banner__img">
                    <img src="img/anh1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item banner__img">
                    <img src="img/anh2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon banner__btn" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon banner__btn" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="container">
                    <div class="banner__info">
                        <h1>Sports</h1>
                        <h1>change your life</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wrapper -->

    <!-- space -->
    <div class="container"><div class="space"></div></div>
    <!-- end space -->

    <!-- connect -->
    <div class="container">
        <div class="connect">
            <div class="connect__item">
                <div class="connect__items">
                    <div class="connect__logo">
                        <a href="#/"><img src="icon/truck.png" alt="truck"></a>
                    </div>
                    <div class="connect__text">
                        <h3 class="connect__text__h3">Miễn Phí giao hàng</h3>
                        <p class="connect__text__p">Open without 14px Lorem ipsum dolor sitod tempor incididunt aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="connect__item">
                <div class="connect__items">
                    <div class="connect__logo">
                        <a href="#/"><img src="icon/phone.png" alt="phone"></a>
                    </div>
                    <div class="connect__text">
                        <h3 class="connect__text__h3">Liên hệ với chúng tôi</h3>
                        <p class="connect__text__p">Open without 14px Lorem ipsum dolor sitod tempor incididunt aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="connect__item">
                <div class="connect__items">
                    <div class="connect__logo">
                        <a href="#/"><img src="icon/undo.png" alt="undo"></a>
                    </div>
                    <div class="connect__text">
                        <h3 class="connect__text__h3">Chính sách đổi trả</h3>
                        <p class="connect__text__p">Open without 14px Lorem ipsum dolor sitod tempor incididunt aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end connect -->

    <!-- space -->
    <div class="container"><div class="space"></div></div>
    <!-- end space -->

    <!-- product list -->
    <div class="wrapper">
        <section class="container product noselect">
            <h3 class="title">Danh mục sản phẩm</h3>
            <ul class="product__items">
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmbongba.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ bóng đá</div>
                        <div class="product__item__description">Open without 14px Lorlor sitod tempor</div>
                    </li>
                </a>
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmcaulong.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ cầu lông</div>
                        <div class="product__item__description">Open without 14pxr sitod tempor</div>
                    </li>
                </a>
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmbongchuyen.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ bóng chuyền</div>
                        <div class="product__item__description">Open without 14px sitod tempor</div>
                    </li>
                </a>
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmtennis.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ Tennis</div>
                        <div class="product__item__description">Open withousum dolor sitod tempor</div>
                    </li>
                </a>
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmgym.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ Gym</div>
                        <div class="product__item__description">Open withor sitod tempor</div>
                    </li>
                </a>
                <a href="#/">
                    <li class="product__item">
                        <img src="img/dmboiloi.jpg" alt=" Ảnh bóng đá">
                        <img class="eye" src="icon/eye.png" alt="">
                        <div class="product__item__name">Dụng cụ bơi lội</div>
                        <div class="product__item__description">Open without 14px Lorem ipsum dolor sitod tempor</div>
                    </li>
                </a>
            </ul>
        </section>
    </div>
    <!-- end product list -->

    <!-- space -->
    <div class="container"><div class="space"></div></div>
    <!-- end space -->

    <!-- promotion list -->
    <div class="wrapper">
        <div class="promotion__background">
            <section class="promotion">
                <h3 class="title">Khuyến mãi hot</h3>
                    <div class="promotion__item">
                        <img src="img/dmbongba.jpg" alt="">
                        <div class="promotion__info">
                            <h4 class="promotion__info__name">Áo đấu Barcalona</h4>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="promotion__price">
                                <div class="promotion__price__1">150.000đ</div>
                                <div class="promotion__price__2">300.000đ</div>
                            </div>
                            <p class="promotion__info__description">
                                Award yourself with this rich chocolate cake wonderfully
                                crammed with Cadbury Fuse and white chocolate chunks and
                                draped lusciously with molten chocolate. This perfect work of
                                art hides in every bite of chocolate that is a little nutty
                                and a lot of tasty!
                            </p>

                            <button class="btny btny__primary">Thêm vào giỏ hàng +</button>
                           
                        </div>
                    </div>
                    <div class="promotion__btn__roll-left">
                        <i class="lefty fas fa-chevron-left"></i>
                    </div>
                    <div class="promotion__btn__roll-right">
                        <i class="righty fas fa-chevron-right"></i>
                    </div>
                    <ul class="paging">
                        <li class="paging__item paging__item__active"></li>
                        <li class="paging__item"></li>
                        <li class="paging__item"></li>
                        <li class="paging__item"></li>
                        <li class="paging__item"></li>
                    </ul>
            </section>
        </div>
    </div>
    <!-- end promotion list -->

    <!-- space -->
    <div class="container"><div class="space"></div></div>
    <!-- end space -->

    <!-- all items list-->
    <div class="wrapper">
        <section class="container all__items">
            <h3 class="title">Sản Phẩm</h3>
            <div class="all__item">
                <img src="img/dmbongba.jpg" alt="ảnh sản phẩm">
            </div>
        </section>
    </div>
    <!-- end all items list-->


    <!-- <div class="backtop">
        <i class="fas fa-chevron-up"></i>
    </div> -->

</body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                if($(this).scrollTop()) {
                    $('header').addClass('sticky');
                } else {
                    $('header').removeClass('sticky');
                }
            });
        });

    </script>

    <!-- $(document).ready(function(){
        $(window).scroll(function(){
            if($(this).scrollTop()) {
                $("#backtop").fadeIn();
            } else {
                $("#backtop").fadeOut();
            }
        });
        $("#backtop").click(function(){
            $('html, body').animate({
                scrollTop: 0
            }, 500);
        });
    }); -->

</html>